<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>My recommendations</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script defer type="module" src='main.js'></script>
</head>

<body>
  <div>
    <header>
      <nav>
        <ul>
          {{#each menuItems}}
          <li>
            <a class="{{#if this.active}}active{{else}}inactive{{/if}}" href="{{this.link}}">{{this.label}}</a>
          </li>
          {{/each}}
        </ul>
      </nav>
    </header>
  </div>
  <div>
    {{{body}}}
  </div>
  <div>
    <footer>This is the footer</footer>
  </div>
</body>

</html>